﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد التسجيل";
}
<form asp-route-returnUrl="@Model.ReturnUrl"
      asp-route-email="@Model.Email"
      asp-route-callbackUrl="@Model.CallbackUrl" method="post">

    <h1 class="text-right">@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p class="text-right">
                .يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك
            </p>

            <p class="text-right">
                اذا لم يصلك البريد الالكتروني الخاص بتأكيد حسابك برجاء الضغط علي <input type="submit" class="btn btn-link" value="إعادة ارسال" /> لمحاولة ارساله مرة اخري
            </p>
        }
    }
</form>