﻿@model WholesaleStore.ViewModels.VMs.OrderVM
@{
    ViewData["Title"] = "الطلبات";
}

<div class="text-center">
    <h1 class="display-4">الطلبات</h1>
    <p>يمكنك ادارة الطلبات الخاصة بجميع المخازن من هذه الشاشة</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-right">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">الطلبات</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<form asp-action="Index">

    @*@Html.HiddenFor(a => a.OrderFilter.StoreId, Model.OrderFilter.StoreId)*@

    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            بـــحث
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input value="@Model.OrderFilter.OrderTotal" name="price" type="number" class="form-control"
                                               id="floatingOrderTotal" placeholder="اجمالي السعر">
                                        <label for="floatingOrderTotal">اجمالي السعر</label>
                                        <span asp-validation-for="OrderFilter.OrderTotal" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input value="@Model.OrderFilter.CreatedOnUtc" name="created" type="date" class="form-control"
                                               id="floatingCreatedOnUtc" placeholder="تم الانشاء في">
                                        <label for="floatingCreatedOnUtc">تم الانشاء في</label>
                                        <span asp-validation-for="OrderFilter.CreatedOnUtc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input value="@Model.OrderFilter.PaidDateUtc" name="Paid" type="date" class="form-control"
                                               id="floatingPaidDateUtc" placeholder="تم الدفع في">
                                        <label for="floatingPaidDateUtc">تم الدفع في</label>
                                        <span asp-validation-for="OrderFilter.PaidDateUtc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <a asp-action="Index" asp-route-storeId="@Model.OrderFilter.StoreId"
                                       asp-route-currentPage="@Model.OrderFilter.CurrentPage"
                                       asp-route-maxRows="@Model.OrderFilter.MaxRows"
                                       class="btn btn-info">تصفية</a>

                                    <input asp-route-storeId="@Model.OrderFilter.StoreId"
                                           asp-route-userId="@Model.OrderFilter.UserId"
                                           asp-route-currentPage="@Model.OrderFilter.CurrentPage"
                                           asp-route-maxRows="@Model.OrderFilter.MaxRows"
                                           asp-route-orderStatusId="@Model.OrderFilter.OrderStatusId" asp-route-orderTotal="@Model.OrderFilter.OrderTotal"
                                           asp-route-paymentMethodName="@Model.OrderFilter.PaymentMethodSystemName" asp-route-paidDate="@Model.OrderFilter.PaidDateUtc"
                                           asp-route-createdDate="@Model.OrderFilter.CreatedOnUtc"
                                           type="submit" value="بحث" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <table class="table table-striped table-bordered text-right">
        <thead>
            <tr>
                <td></td>
                <td>
                    تاريخ الانشاء
                </td>
                <td>
                    السعر
                </td>
                <td>
                    كود
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-controller="Orders"
                       asp-route-orderId="@order.Id">التفاصيل</a>
                    </td>
                    <td>@order.CreatedOnUtc.ToString("MM/dd/yyyy")</td>
                    <td>@order.OrderTotal</td>
                    <td>@order.OrderGuid</td>
                </tr>

            }
        </tbody>
    </table>

    <br />

    @{
        var prevDisabled = !Model.OrderFilter.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.OrderFilter.HasNextPage ? "disabled" : "";
    }

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <a asp-action="Index"
               asp-route-storeId="@Model.OrderFilter.StoreId"
               asp-route-userId="@Model.OrderFilter.UserId"
               asp-route-currentPage="@Model.OrderFilter.CurrentPage"
               asp-route-maxRows="@Model.OrderFilter.MaxRows"
               asp-route-orderStatusId="@Model.OrderFilter.OrderStatusId" asp-route-orderTotal="@Model.OrderFilter.OrderTotal"
               asp-route-paymentMethodName="@Model.OrderFilter.PaymentMethodSystemName" asp-route-paidDate="@Model.OrderFilter.PaidDateUtc"
               asp-route-createdDate="@Model.OrderFilter.CreatedOnUtc"
               class="btn btn-default @prevDisabled">
                السابق
            </a>
            <a asp-action="Index"
               asp-route-storeId="@Model.OrderFilter.StoreId"
               asp-route-userId="@Model.OrderFilter.UserId"
               asp-route-currentPage="@Model.OrderFilter.CurrentPage"
               asp-route-maxRows="@Model.OrderFilter.MaxRows"
               asp-route-orderStatusId="@Model.OrderFilter.OrderStatusId" asp-route-orderTotal="@Model.OrderFilter.OrderTotal"
               asp-route-paymentMethodName="@Model.OrderFilter.PaymentMethodSystemName" asp-route-paidDate="@Model.OrderFilter.PaidDateUtc"
               asp-route-createdDate="@Model.OrderFilter.CreatedOnUtc"
               class="btn btn-default @nextDisabled">
                التالي
            </a>
        </div>
    </div>

</form>
<script type="text/javascript">
</script>