﻿@model WholesaleStore.Models.Models.StoreModel

@{
    ViewData["Title"] = "انشاء مخزن";
}

@if (!string.IsNullOrEmpty((string)ViewData["Error"]))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewData["Error"].ToString();
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <h1>انشاء مخزن جديد</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label">العنوان</label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label">رقم الهاتف</label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedDate" class="control-label">تاريخ الانشاء</label>
                <input type="date" asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="checkbox" asp-for="Active" class="form-check-input" />
                    <label asp-for="Active" class="form-check-label">مفعل</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="انشاء" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <a asp-action="Index">عودة الي القائمة</a>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  