﻿@model WholesaleStore.Models.Models.StoreModel

@{
    ViewData["Title"] = "Edit";
}
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <h1>تعديل علي المخزن</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(a => a.CreatedDate, Model.CreatedDate)
                @Html.HiddenFor(a => a.Id, Model.Id)
                <label asp-for="Id" class="control-label">مخزن رقم</label>
                <input value="@Model.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label">العنوان</label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPhoneNumber" class="control-label">رقم الهاتف</label>
                <input asp-for="CompanyPhoneNumber" class="form-control" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="checkbox" asp-for="Active" class="form-check-input" />
                    <label asp-for="Active" class="form-check-label">مفعل</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="تعديل" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">عودة الي القائمة</a>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  