﻿@model IEnumerable<WholesaleStore.Models.Models.StoreModel>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">المخازن</h1>
    <p>يمكنك ادارة المخازن من هذه الشاشة</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-right">
        <a asp-action="Create">اضافة مخزن جديد</a>
    </div>
</div>

<table class="table table-striped table-bordered text-right">
    <thead>
        <tr>
            <td></td>
            <td>الموظف المسؤول</td>
            <td>مفعل</td>
            <td>تاريخ الانشاء</td>
            <td>رقم التليفون</td>
            <td>العنوان</td>
            <td>اسم المخزن</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-success" asp-action="Index" asp-controller="Products"
                   asp-route-storeId="@store.Id">المنتجات</a>

                    <a class="btn btn-info" asp-action="Edit" asp-controller="Store"
                   asp-route-storeId="@store.Id">تعديل</a>

                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Store"
                   asp-route-storeId="@store.Id"
                   onclick="return confirm('هل انت متأكد من حذف @store.Name ؟')">حذف</a>
                </td>
                <td>
                    @if (store.AdminUser != null)
                    {
                        <a class="btn btn-info" asp-action="View" asp-controller="Users"
                        asp-route-governorateId="@store.Id">@store.AdminUser.Username</a>
                    }
                    else
                    {
                        <span class="text-center">---</span>
                    }
                </td>
                <td>
                    @{
                        var url = Url.Action("ActivateStore", "Store", new { storeId = store.Id }, null);
                    }
                    <div class="form-check form-switch">
                        @Html.CheckBoxFor(m => store.Active, new { @class = "form-check-input", @id = "flexSwitchCheckDefault", onclick = "window.location = '" + url + "'" })
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
                </td>
                @* <td>
                    <div class="form-check form-switch">
                    <form asp-action="ActivateStore" asp-controller="Store"
                    asp-route-isActive="@store.Active" method="post">
                    <input type="checkbox" asp-for="@store.Active" class="form-check-input" id="super-admin-chk"
                    onclick="this.form.submit();" />
                    </form>
                    </div>
                    </td>*@
                <td>@store.CreatedDate.ToString("MM/dd/yyyy")</td>
                <td>@store.CompanyPhoneNumber</td>
                <td>@store.CompanyAddress</td>
                <td>@store.Name</td>
            </tr>

        }
    </tbody>
</table> 