﻿@model WholesaleStore.ViewModels.VMs.CategoryVM

@{
    ViewData["Title"] = "انشاء قسم";
}

<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <h1>انشاء قسم جديد</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label">الاسم</label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Description" class="control-label">الوصف</label>
                <textarea asp-for="Category.Description" class="form-control"></textarea>
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="checkbox" asp-for="Category.Deleted" class="form-check-input" />
                    <label asp-for="Category.Deleted" class="form-check-label">مفعل</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Category.ParentCategoryId" class="control-label">القسم الرئيسي</label>
                <select id="drpEmpList" class="form-control text-right"
                        asp-for="Category.ParentCategoryId"
                        asp-items="@(new SelectList(Model.MainCategories, "Id", "Name"))">
                    <option value="0" class="text-right">--اختر--</option>
                </select>
                <input type="hidden" asp-for="Category.ParentCategoryId" />
            </div>
            <div class="form-group">
                <input type="submit" value="انشاء" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12 text-right">
        <a asp-action="Index">عودة الي القائمة</a>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  