﻿@model IEnumerable<WholesaleStore.Models.Models.CategoryModel>
@{
    ViewData["Title"] = "التصنيفات";
}

<div class="text-center">
    <h1 class="display-4">التصنيفات</h1>
    <p>يمكنك ادارة التصنيفات من هذه الشاشة</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-right">
        <a asp-action="Create">اضافة تصنيف جديد</a>
    </div>
</div>

<table class="table table-striped table-bordered text-right">
    <thead>
        <tr>
            <td></td>
            <td>مفعل</td>
            <td>آخر تعديل</td>
            <td>تاريخ الانشاء</td>
            <td>القسم الرئيسي</td>
            <td>الوصف</td>
            <td>الاسم</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-controller="Categories"
                   asp-route-categoryId="@category.Id">تعديل</a>

                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Categories"
                   asp-route-categoryId="@category.Id"
                   onclick="return confirm('هل انت متأكد من حذف @category.Name ؟')">حذف</a>
                </td>
                <td>
                    @{
                        var url = Url.Action("ActivateCategory", "Gategories", new { categoryId = category.Id }, null);
                    }
                    <div class="form-check form-switch">
                        @Html.CheckBoxFor(m => category.Deleted, new { @class = "form-check-input", @id = "flexSwitchCheckDefault", onclick = "window.location = '" + url + "'" })
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
                </td>
                <td>@category.UpdatedOnUtc.ToString("MM/dd/yyyy")</td>
                <td>@category.CreatedOnUtc.ToString("MM/dd/yyyy")</td>
                <td>@category.ParentCategory?.Name</td>
                <td>@category.Description</td>
                <td>@category.Name</td>
            </tr>

        }
    </tbody>
</table> 