﻿@model WholesaleStore.ViewModels.VMs.UserVM
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">المستخدمين</h1>
    <p>يمكنك ادارة المستخدمين من هذه الشاشة</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-right">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li class="breadcrumb-item active" aria-current="page">المستخدمين</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
    <form asp-action="Index" method="get">
    <div class="row">
    <div class="col-md-6">
    <input class="form-control" type="text" placeholder="اسم المستخدم" name="SearchString" value="@ViewData["CurrentFilter"]" />
    </div>
    <div class="col-md-6">
    <div class="form-actions no-color">
    <p>
    <input type="submit" value="بحث" class="btn btn-light" /> |
    <a asp-action="Index">عودة إلى القائمة الكاملة</a>
    </p>
    </div>
    </div>
    </div>
    </form>
    </div>
    <div class="col-md-6 text-right">
    <a asp-action="Create">انشاء مستخدم جديد</a>
    </div>
    </div>*@

<form asp-action="Index">

    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            بـــحث
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select asp-for="UserFilter.Active" class="form-control text-right" id="MainCategory">
                                            <option value="-1">الكل</option>
                                            <option value="1">مفعل</option>
                                            <option value="0">غير مفعل</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select asp-for="UserFilter.Deleted" class="form-control text-right" id="MainCategory">
                                            <option value="-1">الكل</option>
                                            <option value="1">ممسوح</option>
                                            <option value="0">غير ممسوح</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input value="@Model.UserFilter.CreatedOnUtc" name="stockQuantity" type="date" class="form-control"
                                               id="floatingCreatedOnUtc" placeholder="انشأ في">
                                        <label for="floatingCreatedOnUtc">انشأ في</label>
                                        <span asp-validation-for="UserFilter.CreatedOnUtc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="name"
                                               id="floatingName" placeholder="الاسم" value="@Model.UserFilter.Name">
                                        <label for="floatingName">الاســم</label>
                                        <span asp-validation-for="UserFilter.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <select asp-for="UserFilter.StoreId"
                                                asp-items="@(new SelectList(Model.Stores, "Id", "Name"))"
                                                class="form-control text-right" id="MainCategory">
                                            <option value="-1">--أختر المخزن--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <a asp-action="Index"
                                       asp-route-currentPage="1"
                                       asp-route-maxRows="@Model.UserFilter.MaxRows"
                                       class="btn btn-info">تصفية</a>

                                    <input asp-route-name="@Model.UserFilter.Name"
                                           asp-route-currentPage="@Model.UserFilter.CurrentPage"
                                           asp-route-maxRows="@Model.UserFilter.MaxRows"
                                           asp-route-created="@Model.UserFilter.CreatedOnUtc"
                                           asp-route-active="@Model.UserFilter.Active"
                                           asp-route-deleted="@Model.UserFilter.Deleted"
                                           type="submit" value="بحث" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <a asp-action="Create" class="text-right">انشاء مستخدم جديد</a>
    <table class="table table-striped table-bordered text-right">
        <thead>
            <tr>
                <td></td>
                <td>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["NameSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-currentPage="@Model.UserFilter.CurrentPage"
                       asp-route-maxRows="@ViewData["MaxRows"]">اسم المستخدم</a>
                </td>
                <td>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["EmailSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-currentPage="@Model.UserFilter.CurrentPage"
                       asp-route-maxRows="@ViewData["MaxRows"]">البريد الالكتروني</a>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    @*<td>
                        <div class="form-check form-switch">
                        <form asp-action="AddToSuperAdminRole" asp-controller="Users"
                        asp-route-isSuperAdmin="@user.IsSuperAdmin" asp-route-userName="@user.UserName"
                        asp-route-currentPage="@Model.CurrentPage" asp-route-maxRows="@Model.MaxRows" method="post">
                        <input type="checkbox" asp-for="@user.IsSuperAdmin" class="form-check-input" id="super-admin-chk"
                        onclick="this.form.submit();" />
                        </form>
                        </div>
                        </td>*@
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-controller="Users"
                       asp-route-userId="@user.UserGuid">Edit</a>

                        @*<a class="btn btn-danger" asp-action="Delete" asp-controller="Users"
                            asp-route-userId="@user.Id"
                            onclick="return confirm('Are you sure you want to delete @user.Name?')">Delete</a>*@
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Username</td>
                    <td>
                        <img src="@("~/Upload/Images/" + user.ProfilePicture)" asp-append-version="true" class="rounded-circle"
                         height="40" width="40" />
                        <a class="btn btn-link" asp-action="Edit" asp-controller="Users"
                       asp-route-userId="@user.UserGuid">@user.SystemName</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <br />

    @{
        var prevDisabled = !Model.UserFilter.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.UserFilter.HasNextPage ? "disabled" : "";
    }

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-currentPage="@(Model.UserFilter.CurrentPage - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-maxRows="@ViewData["MaxRows"]"
               class="btn btn-default @prevDisabled">
                السابق
            </a>
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-currentPage="@(Model.UserFilter.CurrentPage + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-maxRows="@ViewData["MaxRows"]"
               class="btn btn-default @nextDisabled">
                التالي
            </a>
        </div>
    </div>

</form>
@*<form asp-action="Index" asp-controller="Users">

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    @for (int i = 1; i <= Model.UserFilter.PageCount; i++)
    {
    @if (i != Model.UserFilter.CurrentPage)
    {
    <li class="page-item">
    <input class="btn btn-primary" type="submit" value="@i" onclick="javascript:PagerClick(@i);" />
    </li>
    }
    else
    {
    <li class="page-item">
    <input class="btn btn-primary" type="submit" value="@i" onclick="javascript:PagerClick(@i);" disabled />
    </li>
    }
    }
    </ul>
    </nav>


    <input type="hidden" id="hfCurrentPageIndex" name="currentPage" />
    <input type="hidden" id="hfMaxRows" name="maxRows" />
    </form>*@

<script type="text/javascript">
    //function PagerClick(index) {
    //    document.getElementById("hfCurrentPageIndex").value = index;
    //    document.getElementById("hfMaxRows").value = 2;
    //    //document.getElementById("hfSearchTxt").value = document.getElementById("searchTxtValue").value;
    //    document.forms[0].submit();
    //}
</script>
