﻿@model WholesaleStore.ViewModels.VMs.ProductVM

@{
    ViewData["Title"] = "انشاء منتج";
}

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>انشاء منتج جديد</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>
<form enctype="multipart/form-data" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(a => a.Product.StoreId, Model.Product.StoreId)

    <div class="form-group">
        <input type="submit" value="انشاء" class="btn btn-primary" />
    </div>

    <div class="card">
        <div class="card-header text-right">
            المعلومات الرئيسية
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="Product.ShowOnHomepage" class="form-check-input" />
                            <label asp-for="Product.ShowOnHomepage" class="form-check-label">اظهاره في الصفحة الرئيسية</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="Product.IsShipEnabled" class="form-check-input" />
                            <label asp-for="Product.IsShipEnabled" class="form-check-label">يمكن نقله</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="Product.IsFreeShipping" class="form-check-input" />
                            <label asp-for="Product.IsFreeShipping" class="form-check-label">نقل مجاني</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="Product.NotReturnable" class="form-check-input" />
                            <label asp-for="Product.NotReturnable" class="form-check-label">لا يمكن استرجاعه</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="Product.MarkAsNew" class="form-check-input" />
                            <label asp-for="Product.MarkAsNew" class="form-check-label">جديد؟</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="form-group">
                        <select asp-for="Product.MainCategory.Id" class="form-control text-right" id="MainCategory"
                                asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                            <option value="0">--اختر القسم--</option>
                        </select>

                        <div class="row">
                            <div class="col-12">
                                &nbsp;
                            </div>
                        </div>

                        @*@if (Model.Categories.FirstOrDefault(c => c.Id == Model.Product.MainCategory.Id) != null && Model.Categories.FirstOrDefault(c => c.Id == Model.Product.MainCategory.Id).ChildCategories != null)
                            {*@
                        <select asp-for="Product.CategoryId" class="form-control text-right" id="ChildCategory">
                            <option value="0">--اختر القسم الفرعي--</option>
                        </select>
                        @*}*@
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Name" type="text" class="form-control" id="floatingName" placeholder="الاسم">
                        <label for="floatingName">الاســم</label>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.ShortDescription" type="text" class="form-control" id="floatingShortDescription" placeholder="وصف مختصر">
                        <label for="floatingShortDescription">وصف مختصر</label>
                        <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Product.FullDescription" class="form-control" placeholder="الوصف الكامل" id="floatingFullDescription" style="height: 100px"></textarea>
                        <label for="floatingFullDescription">الوصف الكامل</label>
                        <span asp-validation-for="Product.FullDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>


    <div class="card">
        <div class="card-header text-right">
            السعر والكمية والابعاد
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Weight" type="text" class="form-control"
                               id="floatingWeight" placeholder="الوزن">
                        <label for="floatingWeight">الوزن</label>
                        <span asp-validation-for="Product.Weight" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Length" type="text" class="form-control"
                               id="floatingLength" placeholder="الطول">
                        <label for="floatingLength">الطول</label>
                        <span asp-validation-for="Product.Length" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Width" type="text" class="form-control"
                               id="floatingWidth" placeholder="العرض">
                        <label for="floatingWidth">العرض</label>
                        <span asp-validation-for="Product.Width" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Height" type="text" class="form-control"
                               id="floatingHeight" placeholder="الارتفاع">
                        <label for="floatingHeight">الارتفاع</label>
                        <span asp-validation-for="Product.Height" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-floating mb-3">
                        <input asp-for="Product.StockQuantity" type="number" class="form-control"
                               id="floatingStockQuantity" placeholder="الكمية">
                        <label for="floatingStockQuantity">الكمية</label>
                        <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.OrderMinimumQuantity" type="number" class="form-control"
                               id="floatingOrderMinimumQuantity" placeholder="أقل كمية يمكن شراؤها">
                        <label for="floatingOrderMinimumQuantity">أقل كمية يمكن شراؤها</label>
                        <span asp-validation-for="Product.OrderMinimumQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.OrderMaximumQuantity" type="number" class="form-control"
                               id="floatingOrderMaximumQuantity" placeholder="أكبر كمية يمكن شراؤها">
                        <label for="floatingOrderMaximumQuantity">أكبر كمية يمكن شراؤها</label>
                        <span asp-validation-for="Product.OrderMaximumQuantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Price" type="number" class="form-control"
                               id="floatingPrice" placeholder="سعر المنتج">
                        <label for="floatingPrice">سعر المنتج</label>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.OldPrice" type="number" class="form-control"
                               id="floatingOldPrice" placeholder="السعر القديم">
                        <label for="floatingOldPrice">السعر القديم</label>
                        <span asp-validation-for="Product.OldPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.ProductCost" type="number" class="form-control"
                               id="floatingProductCost" placeholder="تكلفة المنتج">
                        <label for="floatingProductCost">تكلفة المنتج</label>
                        <span asp-validation-for="Product.ProductCost" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <div class="card">
        <div class="card-header text-right">
            الصور
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">

                    @*@if (Model.ProductPictures != null && Model.ProductPictures.Count > 0)
                        {
                        <table class="table table-striped table-bordered text-right">
                        <tbody>
                        @foreach (var pp in Model.ProductPictures)
                        {
                        <tr>
                        <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Store"
                        asp-route-pictureId="@pp.Id"
                        onclick="return confirm('هل انت متأكد من حذف @pp.Name ؟')">حذف</a>
                        </td>
                        <td>@pp</td>
                        </tr>
                        }
                        </tbody>
                        </table>
                        }*@

                    @*<label asp-for="Pictures" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                        <div class="custom-file">
                        <input asp-for="Pictures" multiple class="form-control custom-file-input">
                        <label class="custom-file-label">أختر صور</label>
                        </div>
                        </div>*@

                    <div class="form-group" style="width: 500px;">
                        <label asp-for="Pictures" class="control-label text-right">صور المنتج</label>
                        <div class="custom-file">
                            <input asp-for="Pictures" type="file" class="custom-file-input" id="customFile" multiple>
                            <label class="custom-file-label" for="customFile">اختر الصور </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="MainPicture" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="MainPicture" type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="انشاء" class="btn btn-primary" />
    </div>

</form>

<div class="row">
    <div class="col-12 text-right">
        <a asp-action="Index">عودة الي القائمة</a>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + ' files selected');
            }
            else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }
        });
    });

    $('#MainCategory').change(function () {
                var selectedMainCategory = $("#MainCategory").val();
                var childCategories = $('#ChildCategory');
                //childCategories.empty();
                if (selectedMainCategory != null && selectedMainCategory != '') {
                    $.getJSON('@Url.Action("GetChildCategories")', { categoryId: selectedMainCategory }, function (response) {
                        if (response != null)
                        {
                            $('#ChildCategory').html('');

                            console.log("Retrived Categories", response);

                            var options = '';
                            options += '<option value="-1">--اختر القسم الفرعي--</option>';
                            for (var i = 0; i < response.length; i++) {
                                options += '<option value="' + response[i].id + '">' + response[i].name + '</option>';
                            }
                            $('#ChildCategory').append(options);
                            //regionsSelect.append($('<option/>', {
                            //    value: null,
                            //    text: ""
                            //}));
                            //$.each(regions, function (index, region) {
                            //    regionsSelect.append($('<option/>', {
                            //        value: region.Value,
                            //        text: region.Text
                            //    }));
                            //});
                        };
                    });
                }
            });
</script>
}  