﻿@model WholesaleStore.ViewModels.VMs.ProductVM
@{
    ViewData["Title"] = "المنتجات";
}

<div class="text-center">
    <h1 class="display-4">المنتجات</h1>
    <p>يمكنك ادارة المنتجات الخاصة بالمخزن من هذه الشاشة</p>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-right">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li class="breadcrumb-item"><a asp-controller="Store" asp-action="Index">المخازن</a></li>
                <li class="breadcrumb-item active" aria-current="page">المنتجات</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        &nbsp;
    </div>
</div>

<form asp-action="Index">

    @Html.HiddenFor(a => a.ProductFilter.StoreId, Model.ProductFilter.StoreId)

    <div class="row">
        <div class="col">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            بـــحث
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input value="@Model.ProductFilter.Price" name="price" type="number" class="form-control"
                                               id="floatingPrice" placeholder="السعر">
                                        <label for="floatingPrice">السعر</label>
                                        <span asp-validation-for="ProductFilter.Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input value="@Model.ProductFilter.UpdatedOnUtc" name="updated" type="date" class="form-control"
                                               id="floatingUpdatedOnUtc" placeholder="تم التعديل في">
                                        <label for="floatingUpdatedOnUtc">تم التعديل في</label>
                                        <span asp-validation-for="ProductFilter.UpdatedOnUtc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input value="@Model.ProductFilter.StockQuantity" name="stockQuantity" type="number" class="form-control"
                                               id="floatingStockQuantity" placeholder="الكمية المتاحة">
                                        <label for="floatingStockQuantity">الكمية المتاحة</label>
                                        <span asp-validation-for="ProductFilter.StockQuantity" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input value="@Model.ProductFilter.CreatedOnUtc" name="created" type="date" class="form-control"
                                               id="floatingCreatedOnUtc" placeholder="انشأ في">
                                        <label for="floatingCreatedOnUtc">انشأ في</label>
                                        <span asp-validation-for="ProductFilter.CreatedOnUtc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="name"
                                               id="floatingName" placeholder="الاسم" value="@Model.ProductFilter.Name">
                                        <label for="floatingName">الاســم</label>
                                        <span asp-validation-for="ProductFilter.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input value="@Model.ProductFilter.ProductCost" name="cost" type="text" class="form-control"
                                               id="floatingProductCost" placeholder="التكلفة">
                                        <label for="floatingProductCost">التكلفة</label>
                                        <span asp-validation-for="ProductFilter.ProductCost" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <a asp-action="Index" asp-route-storeId="@Model.ProductFilter.StoreId"
                                       asp-route-currentPage="@Model.ProductFilter.CurrentPage"
                                       asp-route-maxRows="@Model.ProductFilter.MaxRows"
                                       class="btn btn-info">تصفية</a>

                                    <input asp-route-storeId="@Model.ProductFilter.StoreId"
                                           asp-route-name="@Model.ProductFilter.Name"
                                           asp-route-currentPage="@Model.ProductFilter.CurrentPage"
                                           asp-route-maxRows="@Model.ProductFilter.MaxRows"
                                           asp-route-stockQuantity="@Model.ProductFilter.StockQuantity" asp-route-price="@Model.ProductFilter.Price"
                                           asp-route-cost="@Model.ProductFilter.ProductCost" asp-route-created="@Model.ProductFilter.CreatedOnUtc"
                                           asp-route-updated="@Model.ProductFilter.UpdatedOnUtc"
                                           type="submit" value="بحث" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            @*<select asp-for="ProductFilter.MaxRows"
                    asp-items="@(new SelectList(Model.ProductFilter.PageSizes, "", "", Model.ProductFilter.MaxRows))"
                    onchange="this.form.submit()">
            </select>*@
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-6 text-right">
            <a asp-action="Create" asp-route-storeId="@Model.ProductFilter.StoreId">انشاء منتج جديد</a>
        </div>
    </div>

    <table class="table table-striped table-bordered text-right">
        <thead>
            <tr>
                <td></td>
                <td>
                    تاريخ الانشاء
                </td>
                <td>
                    جديد؟
                </td>
                <td>
                    التكلفة
                </td>
                <td>
                    السعر
                </td>
                <td>
                    الكمية المتاحة
                </td>
                <td>
                    اظهارة في الصفحة الرئيسية
                </td>
                <td>
                    الوصف
                </td>
                <td>
                    الاســـم
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-controller="Products"
                       asp-route-productId="@product.Id">تعديل</a>

                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Products"
                       asp-route-productId="@product.Id"
                       onclick="return confirm('هل انت متأكد من حذف @product.Name ؟')">حذف</a>
                    </td>
                    <td>@product.CreatedOnUtc.ToString("MM/dd/yyyy")</td>
                    <td>
                        @{
                            var url = Url.Action("MarkAsNew", "Products", new { productId = product.Id }, null);
                        }
                        <div class="form-check form-switch">
                            @Html.CheckBoxFor(m => product.MarkAsNew, new { @class = "form-check-input", @id = "flexSwitchCheckDefault", onclick = "window.location = '" + url + "'" })
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </td>
                    <td>@product.ProductCost</td>
                    <td>@product.Price</td>
                    <td>@product.StockQuantity</td>
                    <td>
                        @{
                            var showOnHomePageUrl = Url.Action("ShowOnHomePage", "Products", new { productId = product.Id }, null);
                        }
                        <div class="form-check form-switch">
                            @Html.CheckBoxFor(m => product.ShowOnHomepage, new { @class = "form-check-input", @id = "flexSwitchCheckDefault", onclick = "window.location = '" + showOnHomePageUrl + "'" })
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    </td>
                    <td>@product.ShortDescription</td>
                    <td>
                        @product.Name
                        <img src="@("~/Upload/ProductsImages/" + product.MainPicture)" asp-append-version="true" class="rounded-circle"
                         height="40" width="40" />
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <br />

    @{
        var prevDisabled = !Model.ProductFilter.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.ProductFilter.HasNextPage ? "disabled" : "";
    }

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <a asp-action="Index"
               asp-route-storeId="@Model.ProductFilter.StoreId" asp-route-name="@Model.ProductFilter.Name"
               asp-route-currentPage="@(Model.ProductFilter.CurrentPage - 1)"
               asp-route-maxRows="@Model.ProductFilter.MaxRows"
               asp-route-stockQuantity="@Model.ProductFilter.StockQuantity" asp-route-price="@Model.ProductFilter.Price"
               asp-route-cost="@Model.ProductFilter.ProductCost" asp-route-created="@Model.ProductFilter.CreatedOnUtc"
               asp-route-updated="@Model.ProductFilter.UpdatedOnUtc"
               class="btn btn-default @prevDisabled">
                السابق
            </a>
            <a asp-action="Index"
               asp-route-storeId="@Model.ProductFilter.StoreId" asp-route-name="@Model.ProductFilter.Name"
               asp-route-currentPage="@(Model.ProductFilter.CurrentPage + 1)"
               asp-route-maxRows="@Model.ProductFilter.MaxRows"
               asp-route-stockQuantity="@Model.ProductFilter.StockQuantity" asp-route-price="@Model.ProductFilter.Price"
               asp-route-cost="@Model.ProductFilter.ProductCost" asp-route-created="@Model.ProductFilter.CreatedOnUtc"
               asp-route-updated="@Model.ProductFilter.UpdatedOnUtc"
               class="btn btn-default @nextDisabled">
                التالي
            </a>
        </div>
    </div>

</form>
<script type="text/javascript">
</script>